// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img{
    width:200px;
    height:200px;  
}

.address{
    color:blue;
}
body{
    width:100vw;
}

.flex{
    max-width: 100em;
    align-items: center;
    text-align: left;
    position: relative;
    display: inline-flex;
  
}
.each_card{
    max-width: 300px;
    padding: 5px;
    margin: 1em;
}
.search_bar{
    display: flex;
    
}
